<figure class="image m-3 mt-5">
    <img src="lbw-icon.png" />
</figure>
<button class="<%= currentPage === 'posts' ? 'selected' : 'not-selected' %>" onclick="location.href='/posts'">POSTS</button>
<button class="<%= currentPage === 'events' ? 'selected' : 'not-selected' %>" onclick="location.href='/events'">EVENTS</button>
<button class="<%= currentPage === 'players' ? 'selected' : 'not-selected' %>" onclick="location.href='/players'">PLAYERS</button>
<button class="<%= currentPage === 'updates' ? 'selected' : 'not-selected' %>" onclick="location.href='/updates'">UPDATES</button>
<figure class="image">
    <img src="grass-texture.png" />
</figure>